.categoria-main-titulo{
    display: block;
    text-align: center;
    padding: 30px;
    font-size: 2.5rem;
    font-style: italic;
    color: #2C394B;
}

.destaques-categoria{
    display: flex;
    justify-content: center;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #E5E5E5;
    color: #2C394B;
}

.destaques-categoria-container{
    max-width: 1200px;
    display: flex;
    flex-direction: row;
	flex-wrap: wrap;
    justify-content: center;
	gap: 30px;
}


.destaque-categoria-post{
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.destaque-categoria-imagens{
    width: 500px;
    height: 250px;
	border-radius: 5px;
	margin-bottom: 10px;
    object-fit: cover;
}

.destaque-categoria-titulos{
	font-weight: bold;
	padding-bottom: 5px;
	color: #FF4C29;
	text-transform: uppercase;
}

.destaque-categoria-info{
	padding-bottom: 10px;
	font-size: 1.2rem;
    margin-right: 10px;
}